name: Remote Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-20

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ vars.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            # Navigate to the project directory
            cd /home/antonis/apofasi

            # Pull the latest changes from GitHub
            git pull origin main

            ./deploy.sh